@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&family=Poppins:wght@100;200;400;600&display=swap');

body {
    background-color: #e7e7e7;
}


/* Estilização Menu */
.headerPrincipal {
    background-color: #f9f9f9;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: all .5s;
}

.menuPrincipal {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}


.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 150px;
}

.listaMenu {
    display: flex;
    align-items: center;
}

.listaMenu ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.itemMenu {
    margin: 0 15px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.4s all ease;
}

.itemMenu:hover {
    color: #cdcdcd;
    transition: 0.4s all ease;
}

.itemMenu::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #0A3D6A;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.itemMenu:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.linkMenu {
    text-decoration: none;
    color: #121212;
    font-size: 1.15rem;
    font-weight: 400;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


/* Parallex */

.parallax {
    width: 100%;
    margin: 0 auto;
}

.bannerHome {
    display: block;
}

.containerHome {
    width: 100%;
    max-width: 760px;
    margin: 4rem auto;
    padding: 0 20px;
    font-size: 1.2em;
    text-align: center;
}

.containerQuemSomos,
.containerAcessorios,
.containerServicos,
.containerLojas,
.containerContato {
    width: 100%;
    max-width: 760px;
    margin: 6rem auto;
    padding: 0 20px;
    font-size: 1.2em;
    text-align: center;
    font-weight: 500;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
}


section.module.parallax-1 {
    background-image: url("../imagens/destaque-home-2.jpg");
}

section.module.parallax-2 {
    background-image: url("../imagens/home-destaque12.jpg");
}

section.module.parallax-3 {
    background-image: url("../imagens/celular-quebrado1.jpg");
}

section.module.parallax-4 {
    background-image: url("../imagens/acessorios.jpg");
}

section.module.parallax-5 {
    background-image: url("../imagens/home-destaque10.jpg");
}

section.module.parallax-6 {
    background-image: url("../imagens/home-destaque8.jpg");
}


section.module.parallax h1 {
    color: #E7E7E7;
    text-align: center;
    font-size: 4em;
    z-index: 50;
    text-transform: uppercase;
}


/* Seção acessórios e produtos Home */

.secaoHomeServicos,
.secaoHomeProdutos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    margin: 8rem 0;
}

.titulosHome {
    margin-top: 4rem;
    font-weight: 900;
    color: #0267C1;
    font-size: 1.5em;
}

.apresentacaoHomeImg {
    width: 70%;
    height: 20%;
    border-radius: 35px;
    margin: 2rem auto;
    display: block;

}


.tituloHomeApresentacao {
    font-size: 1.3em;
    font-weight: 500;
    color: #0A3D6A;
    margin: 1rem auto;
}

.botaoSecaoHome {
    background-color: #0A3D6A;
    color: #e7e7e7;
    text-decoration: none;
    padding: 15px;
    font-size: 1.1em;
    border-radius: 35px;
    margin: 3rem 0;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

.responsivoHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
}

/* Rodape */

.rodape {
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
}

.orcamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.tituloFormulario,
.tituloContatoFooter {
    font-size: 1.3em;
    margin: 2rem auto;
    color: #0267C1;
}

.orcamentoFormulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formularioCampos {
    border-radius: 64px;
    padding: 10px;
    margin: 1rem auto;
    width: 80%;
}

.formularioCampoMensagem {
    width: 300px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    margin: 1rem auto;
    font-weight: 400;
    width: 80%;
}

.btnEviar {
    background-color: #0A3D6A;
    color: #E7E7E7;
    padding: 15px;
    border-radius: 35px;
    border-style: none;
    font-size: 1em;
    margin: 2rem auto;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}


.secaoContatoFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    background-color: #E7E7E7;
}

.redesRodape {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem auto;
    font-size: 1em;
}

.imgIconeRodape {
    width: 50px;
    height: 50px;
}

.textoIconeRodape {
    color: #0267C1;
    text-align: center;
    font-size: 1.2em;
    margin: 0 1rem;
}

.rodapeMapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem auto;
}

.tituloMapa {
    color: #0A3D6A;
    text-align: center;
    margin: 1rem auto;
    font-weight: 500;
    font-size: 1.2em;
}

/* Quem somos */

.listaMetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.itemMetas {
    margin: 2rem 4rem;
    list-style: none;
    color: #0A3D6A;
    font-size: 1em;
    font-weight: 600;
    text-align: justify;
}

#imagemQuemSomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagemQuemSomos {
    width: 70%;
    height: 50%;
    border-radius: 35px;
}

/* Serviços */
.servicosPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.responsivoServico,
.responsivoProdutos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;

}

.textoProdutos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagemServico {
    width: 70vw;
    height: 50%;
    border-radius: 50px;
    margin: 1rem auto;
    display: block;
}

.tituloSevico {
    color: #0267C1;
    font-size: 1.2em;
    font-weight: 500;
    font-size: 1.3em;
    margin: 2rem auto;
}

#btnServicos,
#btnAcessorios {
    background-color: #0A3D6A;
    color: #E7E7E7;
    padding: 15px;
    border-radius: 30px;
    text-decoration: none;
    margin: 2rem 0;
    transition: 0.5s all ease-in-out;
    font-size: 1.3em;
}

#textoServicos {
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    margin: 1.5rem auto;
}

/*Produtos */

#produtosTextoApresentacao {
    margin: 2rem auto;
    color: #0A3D6A;
    font-weight: 600;
}

#acessorios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgProdutos {
    width: 60vw;
    height: 40%;
    border-radius: 50%;
    margin: 2rem auto;
}

.textoAcessorio {
    color: #0267C1;
    font-weight: 600;
    margin: 2rem auto;
    text-align: center;
    font-size: 1.3em;
}


#btnAcessorios:hover,
#btnServicos:hover,
.botaoSecaoHome:hover,
.btnEviar:hover {
    transform: scale(1.1);
}


.textoProdutos {
    margin: 0 2rem;
}

/* Nossas Lojas */
.lojasLocalização {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.responsivoLoja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;

}

.tituloLoja,
.textoLoja {
    color: #0A3D6A;
    font-weight: 600;
    margin: 2rem auto;
    text-align: center;
}

.lojaImg {
    width: 80vw;
    height: 50%;
    margin: 1rem auto;
}

.enderecoLoja {
    color: #0267C1;
    font-size: 1em;
    margin: 2rem;
    text-align: center;
    font-weight: 500;
}

#textoLoja {
    text-align: center;
    margin: 0 2rem;
}

.lojasMapa {
    width: 80vw;
}


/* Contato */

.paragrafoContato {
    margin: 2rem;
    font-size: 1.1em;
}

span {
    color: #0A3D6A;
    font-weight: 500;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textoContato {
    font-size: 1.2em;
    font-weight: 500;
    color: #0A3D6A;
    text-align: center;
}
